<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Worker Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<style>
.container {
    border: 1px solid #ccc; /* Border color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5	); /* Shadow */
    padding: 20px; /* Adjust padding as needed */
    background-color: white;
    margin-top: 10vh;
}
body {
    background-color: lightblue;
}


</style>
</head>
<body>
	<div class="container">
		<h1>Worker Details Management System</h1>
		<hr>
		<h2>Save Worker</h2>

		<form action="#" th:action="@{/saveWorker}" th:object="${worker}"
			method="POST">
			<input type="text" th:field="*{firstname}"
				placeholder="Worker First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastname}"
				placeholder="Worker Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}"
				placeholder="Worker Email" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Worker</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Worker List</a>
	</div>
</body>
</html>